
<app-nav> </app-nav>

<p class="top-text"> يمكنك تحديد القسم العلمي والمرحلة لأضهار تقييمات الاستاذة في هذا القسم </p>
<div class="drop-down">



    <select class="custom-select select-1">
        <option selected>حدد القسم </option>
        <option value="1">علوم الحياة</option>
        <option value="2">علوم الحاسبات</option>
        <option value="3">علوم رياضيات</option>
        <option value="4">علوم الفيزياء</option>
        <option value="5">جيولوجيا</option>
        <option value="6">تقانة احيائية</option>
    </select>

    <select class="custom-select select-1">
        <option selected>حدد المرحلة</option>
        <option value="1">الاولى</option>
        <option value="2">الثانية</option>
        <option value="3">الثالثة</option>
        <option value="4">الرابعة</option>
    </select>

    <a class="my-btn btn btn-primary select-2" href="#" role="button" style="width: 100px">بحث</a>
</div>


<!-- item  -->
<div class="box-item" *ngFor="let evaluation of evaluations">
    <div class="name">  <h3> {{evaluation.name}} </h3>  </div>
    <div class="progress">
        <div>  <span [ngStyle]=" { 'width.%': evaluation.yes  } " class="yes" >     {{ evaluation.yes    | number:'.1-2' }}%   </span> </div>
        <div>  <span [ngStyle]=" { 'width.%': evaluation.some } " class="some">     {{ evaluation.some   | number:'.1-2' }}%   </span> </div>
        <div>  <span [ngStyle]=" { 'width.%': evaluation.no   } " class="no"  >     {{ evaluation.no     | number:'.1-2' }}%   </span> </div>
        <P> عدد الطلاب الذين قامو بالتصويت : {{evaluation.counter}} </P>
    </div>
</div>

    
    