<app-nav></app-nav>

<p class="top-text"> قم بأضافة وحذف اسئلة التقييم </p>
<div class="drop-down">

  <div class="input-group select-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"> عنوان السؤال </span>
    </div>
    <input  (change)="selectQuestion($event)" 
            type="text" class="form-control" 
            aria-label="Default" 
            aria-describedby="inputGroup-sizing-default">
  </div>

      <div class="box-operation">
          <button 
              mat-raised-button
              matTooltip="تأكد من المعلومات قبل الاضافة"
              matTooltipPosition="right"
              class="btn-delete btn" (click)="addQuestion()">
              اضافة
          </button>
      </div>
</div>


<div class="box-item" *ngFor="let item of questions">
  <div class="name">
    <h3>
      {{item.question}}
    </h3>
  </div>

  <div class="icons">
    <i class="fas fa-trash-alt fa-2x"></i>
  </div>
</div>
