* {
    font-family: 'Segoe UI';
}

.continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.table-continer {
    width: 88vw;
    margin: 10px 0 0 0;
}

.radio-btn {
    margin: 10px 20px;
}
 
td, th {
    text-align: center;
    /* center checkbox horizontally */
    vertical-align: middle;
    /* center checkbox vertically */
}

.select-tech {

    width: 88vw;
    /* padding: 40px; */
}

/* Title */

.continer .page-title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.continer .page-title h1 {
    font-size: 2vw;
}

.note {
    margin-top: 30px;
    text-align: right !important;
    font-weight: 400;
}


.logo-img {
    width: 20%;
    margin: 30px;
}

textarea {
    margin: 20px 0 10px 0;
}

table {
    background-color: #fcfcfc !important;
    border-radius: 7px;
}


