* {
    font-family: 'Segoe UI';
}

.continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.table-continer {
    width: 88vw;
    margin: 10px 0 0 0;
}

td, th {
    text-align: center;
    /* center checkbox horizontally */
    vertical-align: middle;
    /* center checkbox vertically */
}

.select-tech {

    width: 88vw;
    /* padding: 40px; */
    margin: 200px 0 0 0;
}

label {
    margin: 0px 10px;
}
/* Title */

.continer .page-title {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.continer .page-title h1 {
    text-align: right;
    font-size: 2vw;
}
img {
    width: 150px;
    height: 150px;
}

textarea {
    margin: 20px 0 10px 0;
}


