<div class="bg-continer">
  <div class="bac-color">
    <table height="100%">
      <td>
        <div class="PageLine2V">&nbsp;</div>
      </td>
    </table>
  </div>
</div>

<div class="continer" dir="rtl">

  <!-- the title  -->
  <div class="page-title">
    <h1>| نظام تقييم الاساتذة - دخول الطلبة</h1>
  </div>

  <!-- the form -->
  <div class="form-continer">

    <form class="ui form ">
      <div class=" item">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">القـــسم</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="AL">علوم الحياة</option>
            <option value="AK">علوم الحاسبات</option>
            <option value="AZ">علوم رياضيات</option>
            <option value="AR">علوم الفيزياء</option>
            <option value="IA">جيولوجيا</option>
            <option value="IA">تقانة احيائية</option>
          </select>
        </div>

      </div>


      <div class="item">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="AL">الاولى</option>
            <option value="AK">الثانية</option>
            <option value="AZ">الثالثة</option>
            <option value="AR">الرابعة</option>
          </select>
        </div>

      </div>

      <div class="item">
        <input class="form-control" type="password" placeholder="كلمة السر">
      </div>

      <div class="bt-item">
        <button class="btn btn-primary pull-left">تسجيل الدخول</button>
      </div>


    </form>

  </div>

</div>
<!-- footer  -->
<div class="footer">
  <a>دخول المشرفين</a>
</div>