<div class="bg-continer">
  <div class="bac-color">
    <table height="100%">
      <td>
        <div>&nbsp;</div>
      </td>
    </table>
  </div>
</div>

<div class="continer" dir="rtl">

  <!-- the title  -->
  <div class="page-title">
    <img src="../../assets/SciLogo.png" alt="">
    <h1>| نظام تقييم الاساتذة - دخول الطلبة</h1>
  </div>

  <!-- the form -->
  <div class="form-continer">

      <div class=" item">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">القـــسم</label>
          </div>
          <select  class="custom-select select-1" (change)="setDepartment( $event )" >
            <option value="0">حدد القسم         </option>
            <option value="1"> بايولوجي        </option>
            <option value="2"> الحاسبات        </option>
            <option value="3"> الرياضيات       </option>
            <option value="4"> الفيزياء        </option>
            <option value="5"> جيولوجيا النفط والمعادن        </option>
            <option value="6"> تقانة احيائية   </option>
          </select>
        </div>

      </div>


      <div class="item">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
          </div>
          <select  class="custom-select select-1" (change)="getstage( $event )" >
            <option value="0">  حدد المرحلة     </option>
            <option value="1">  الاولى           </option>
            <option value="2">  الثانية         </option>
            <option value="3">  الثالثة         </option>
            <option value="4">  الرابعة         </option>
          </select>
        </div>

      </div>

      <div class="item">
        <input (change)="setPassword( $event )" class="form-control" type="password" placeholder="كلمة السر">
      </div>

      <div class="bt-item">
          <button (click)="login()" class="btn btn-primary pull-left"> تسجيل الدخول </button>
      </div>

  </div>

</div>
<!-- footer  -->
<div class="footer">
  <a routerLink="/admin">دخول المشرفين</a>
</div>