<div class="main-nav">

    <div class="r-items">
        <a [routerLink]="['/management']"> <i class="fas fa-home"></i> <span> الرئيسية </span></a>
        <a [routerLink]="['/teachers']"> <i class="fas fa-users"></i> <span> الاساتذة </span></a>
        <a [routerLink]="['/questions']"> <i class="far fa-list-alt"></i> <span> الاسئلة </span></a>
        <a [routerLink]="['/generateKey']"> <i class="fas fa-key"></i> <span> الرموز </span></a>
    </div>

    <div class="l-items">
        <a [routerLink]="['/login']"> <span> خروج </span> <i class="fas fa-user-alt-slash"></i> </a>
    </div>

</div>