.top-text {
    margin-right: 20px;
}

/* select box */

.drop-down {
    display: flex;
    border-radius: 30px;
    margin: 20px;
}

.select-1 {
    width: 30%;
    margin-left: 20px;
}

.my-btn {
    background-color: #706fd3;
    color: #fff !important;
}

/* main box */

.box-item {
    display: flex;
    border-radius: 7px;
    margin: 20px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #f2f2f1;
    color: #505050;
    height: max-content;
}


.progress {
    height: fit-content;
    width: 30%;
    background-color: #f2f2f1;
    display: flex;
    flex-direction: column;
}

.progress span {
    display: block;
    background-color: #2ecc71;
    color:#FFF;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}


.progress  P {
    margin: 5px 0 0 0;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    margin: 0;
}

.btn-delete {
    background-color: transparent !important;
}
.i-delete {
    color: #706fd3;
    font-size: 20px;
}