<app-nav></app-nav>


<p class="top-text"> حدد القسم و المرحلة وقم بكتابة اسم الستاذ لأضافته الى قائمة الاساتذة </p>
<div class="drop-down">



    <select class="custom-select select-1" (change)="selectDepartment( $event )" >
        <option value="0">حدد القسم        </option>
        <option value="1"> بايولوجي        </option>
        <option value="2"> الحاسبات        </option>
        <option value="3"> الرياضيات       </option>
        <option value="4"> الفيزياء        </option>
        <option value="5"> جيولوجيا النفط والمعادن        </option>
        <option value="6"> تقانة احيائية   </option>
    </select>

    <select class="custom-select select-1" (change)="selectstage( $event )" >
        <option value="0">  حدد المرحلة     </option>
        <option value="1">  الاولى           </option>
        <option value="2">  الثانية         </option>
        <option value="3">  الثالثة         </option>
        <option value="4">  الرابعة         </option>
    </select>

    <div *ngIf="!excelView" class="input-group select-1">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> اسم الاستاذ </span>
        </div>
        <input (change)="selectName( $event )" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <a *ngIf="!excelView" class="my-btn btn btn-primary select-2" 
        role="button" 
        style="width: fit-content" 
        mat-raised-button
        matTooltip="تأكد من المعلومات قبل الاضافة"
        (click)="addLecturers()"> اضافة </a>
</div>

<div *ngIf="!excelView" class="excel">
    <p class="top-text"> او قم بالاضافة عن طريق ملف أكسل  | &nbsp; </p>
    <a  class="my-btn2"  
        style="width: fit-content" 
        (click)="setView( 'addExcelFile' )">  اضغط هنا   </a>
</div>

<!-- condition of show data form data base or show icone if have no data -->
<ng-container *ngIf="lecturers.length == 0 && (!excelView); then noData else haveData" >
</ng-container>

<ng-template #haveData>

    <div [ngSwitch]="defaultView"> 

        <!-- show lecturers  -->
        <div *ngSwitchCase="'lecturers'" >
            <div class="box-item" *ngFor="let item of lecturers">
                <div class="name">
                    <h3> {{ item.name }} </h3> 
                </div>
        
                <div class="box-operation">
                    <button 
                        mat-raised-button
                        matTooltip="حذف"
                        matTooltipPosition="right"
                        class="btn-delete btn" (click)="deleteLecturer(item)">
                        <i class="i-delete far fa-trash-alt"></i>
                    </button>
        
                    <button 
                        mat-raised-button
                        matTooltip="تعديل"
                        class="btn-delete btn" (click)="openLg( content, item.id, item.name )">
                        <i class="i-edit far fa-edit"></i>
                    </button>
                </div>
            </div>
        </div>
      
    
        <!-- add excel file  -->
        <div *ngSwitchCase="'addExcelFile'">
            <div class="AddFromExcel">

                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="UpluadExcilFile($event)">
                        <label class="custom-file-label" for="inputGroupFile04">قم بأختيار الملف من حاسوبك</label>
                    </div>
                    <div class="input-group-append">
                        <button class="my-btn btn" type="button" (click)="addFromExcil()"> اضافة الجميع </button>
                    </div>
                </div>
            
            </div>
            <div class="box-item" *ngFor="let item of exlecturers">
                <div class="name">
                    <h3> {{ item[0] }} </h3> 
                </div>
            
                <div class="box-operation">
                    <button 
                        mat-raised-button
                        matTooltip="حذف"
                        matTooltipPosition="right"
                        class="btn-delete btn" (click)="deleteOneFromExcel(item)">
                        <i class="i-delete far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <div class="nodata">
        <i class="fab fa-jsfiddle fa-10x"></i>
    </div>
</ng-template>


<!-- Bootstrap -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">تعديل اسم الاستاذ</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-contact100">
        <div class="wrap-contact100">
          <form class="contact100-form">
            <div class="wrap-input100">
              <span class="label-input100">اسم الاستاذ الجديد</span>
              <input    class="input100" 
                        type="text" name="web" 
                        id="questions" 
                        value="{{newLecName.name}}"
                        (change)="chengeName($event)"
                >
            </div>
          </form>

          <div class="modal-footer">
            
            <button type="button" class="btn btn-light" id="close_modal"
              (click)="modal.close('Close click')" ngbTooltip="الغاء التعديل">الغاء</button>

            <button type="button" class="btn btn-success" ngbTooltip="حفظ التعديلات" (click)="editName()" > 
                <i class="save icon"> </i>
              حفظ
            </button>

          </div>

        </div>

      </div>

    </div>

  </ng-template>