<app-nav></app-nav>


<div>

    <button type="button" class="btn btn-success btn-lg"> 
        <i class="fas fa-user-plus"></i>
         اضافة اساتذة
    </button>
    
    <button type="button" class="btn btn-danger btn-lg">
        عرض الاساتذة
    </button>


</div>

<!-- 
<p class="top-text"> حدد القسم و المرحلة وقم بكتابة اسم الستاذ لأضافته الى قائمة الاساتذة </p>
<div class="drop-down">



    <select class="custom-select select-1" (change)="selectDepartment( $event )" >
        <option value="0">حدد القسم         </option>
        <option value="1"> بايولوجي        </option>
        <option value="2"> الحاسبات        </option>
        <option value="3"> الرياضيات       </option>
        <option value="4"> الفيزياء        </option>
        <option value="5"> جيولوجيا النفط والمعادن        </option>
        <option value="6"> تقانة احيائية   </option>
    </select>

    <select class="custom-select select-1" (change)="selectstage( $event )" >
        <option value="0">  حدد المرحلة     </option>
        <option value="1">  الاولى           </option>
        <option value="2">  الثانية         </option>
        <option value="3">  الثالثة         </option>
        <option value="4">  الرابعة         </option>
    </select>

    <div class="input-group select-1">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> اسم الاستاذ </span>
        </div>
        <input (change)="selectName( $event )" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <a  class="my-btn btn btn-primary select-2" 
        role="button" 
        style="width: fit-content" 
        mat-raised-button
        matTooltip="تأكد من المعلومات قبل الاضافة"
        (click)="addLecturers()"> اضافة </a>
</div>

<div class="box-item" *ngFor="let item of lecturers">

    <div class="name">
    
         <h3> {{ item.name }} </h3> 
    </div>

    <div class="box-operation">
        <button 
            mat-raised-button
            matTooltip="حذف"
            matTooltipPosition="right"
            class="btn-delete btn" (click)="deleteLecturer(item)">
            
            <i class="i-delete far fa-trash-alt"></i>
        </button>

        <button 
            mat-raised-button
            matTooltip="تعديل"
            class="btn-delete btn" (click)="deleteLecturer(item)">
            <i class="i-edit far fa-edit"></i>
        </button>
    </div>

</div>


<input type="file" name="Chose" id="" (change)="UpluadExcilFile($event)">
<button (click)="addFromExcil()"> add </button> -->
