<div class="bg-continer">
  <div class="bac-color">
    <table height="100%">
      <td><div class="PageLine2V">&nbsp;</div></td>
    </table>
  </div>
</div>

<div class="continer" dir="rtl">

  <!-- title of page -->
  <div class="page-title">
    <img src="../../assets/SciLogo.png" alt="">
    <h1>| نظام تقييم الاساتذة - دخول المشرفين</h1>
  </div>


  <!-- form of content  -->
  <div class="form-continer">

    <p> قم بكتابة اسم المستخدم وكلمة المرور لتسجيل الدخول </p>

    <form class="ui form ">

      <div class="item">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text" style="width: 125px" >اسم المستخدم</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
        </div>
      </div>

      <div class="item">
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"  style="width: 125px" >كــــلمـة الـمــرور</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
          </div>
      </div>

      <div class="bt-item">
          <a routerLink="/management">
            <button class="btn btn-primary pull-left" >تسجيل الدخول</button>
          </a>
       
      </div>

    </form>
  </div>

</div>