<img src="../../assets/img/Symbol 1 – 2.svg">
<div class="continer" dir="rtl">
    

  <div class="page-title">
    <h1>| نظام تقييم الاساتذة - دخول المشرفين</h1>
    
  </div>



    <div class="form-continer">

      <form class="ui form " >


          <div class="item">
          
            <input name="last-name" placeholder="أسم المستخدم" type="text">
            
          </div>

          <div class="item">
          
              <input name="last-name" placeholder="كلمة السر " type="password">
              
            </div>

        

          <div class="bt-item">
              
          <button class="ui button" type="submit">تسجيل الدخول</button>
        
          </div>
        
          
        </form>
    </div>
  <div class="footer">
      <a>دخول المشرفين</a>
  </div>

</div>