<div class="continer" dir="rtl">


  <div class="page-title">
    <h1>| نظام تقييم الاساتذة - دخول المشرفين</h1>

  </div>



  <div class="form-continer">

    <p>
      قم بكتابة اسم المستخدم وكلمة المرور لتسجيل الدخول
    </p>
    <form class="ui form ">


      <div class="item">

        <input class="form-control" type="text" placeholder="اسم المستخدم">

      </div>

      <div class="item">

        <input class="form-control" type="password" placeholder="كلمة السر">

      </div>



      <div class="bt-item">

        <button class="btn btn-primary pull-left">تسجيل الدخول</button>

      </div>


    </form>
  </div>

</div>