<div class="navbar navbar-expand-lg navbar-light  nav-bar">
    <a class="navbar-brand" href="#">الرئيسية</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="navbar-brand" href="#">الكادر التدريسي</a>
     
          </li>
          <li class="nav-item">
              <a class="navbar-brand" href="#">توليد الرموز</a>
          </li>
    
        </ul>
        
      </div>
  
  
      <div class="collapse navbar-collapse" id="navbarNav" dir="ltr">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand" href="#">تسجيل الخروج</a>
            </li>
          </ul>
        </div>
  </div>


<div class="tex">
  <h4>حدد القسم والمرحلة وعدد الرمز المراد توليدها</h4>
</div>


  <div class="drop-down">
      <select class="custom-select select-1">
          <option selected>حدد القسم </option>
          <option value="1">علوم الحياة</option>
          <option value="2">علوم الحاسبات</option>
          <option value="3">علوم رياضيات</option>
          <option value="4">علوم الفيزياء</option>
          <option value="5">جيولوجيا</option>
          <option value="6">تقانة احيائية</option>
      </select>
  
  
      <select class="custom-select select-1">
          <option selected>حدد المرحلة</option>
          <option value="1">الاولى</option>
          <option value="2">الثانية</option>
          <option value="3">الثالثة</option>
          <option value="4">الرابعة</option>
      </select>

      <select class="custom-select select-2">
          <option selected>عدد الرموز</option>
          <option value="1">الاولى</option>
          <option value="2">الثانية</option>
          <option value="3">الثالثة</option>
          <option value="4">الرابعة</option>
      </select>

      <a class="btn btn-primary select-2" href="#" role="button">توليد الرموز</a>

  </div>
