<app-nav></app-nav>

<p class="top-text"> حدد القسم والمرحلة و عدد الرموز المراد توليدها لدخول الطلبة ليتم توليدها. </p>
<div class="drop-down">



    <select class="custom-select select-1">
        <option selected>حدد القسم </option>
        <option value="1">علوم الحياة</option>
        <option value="2">علوم الحاسبات</option>
        <option value="3">علوم رياضيات</option>
        <option value="4">علوم الفيزياء</option>
        <option value="5">جيولوجيا</option>
        <option value="6">تقانة احيائية</option>
    </select>

    <select class="custom-select select-1">
        <option selected>حدد المرحلة</option>
        <option value="1">الاولى</option>
        <option value="2">الثانية</option>
        <option value="3">الثالثة</option>
        <option value="4">الرابعة</option>
    </select>

    <div class="input-group select-1">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">عدد الرموز</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <a class="my-btn btn btn-primary select-2" href="#" role="button" style="width: fit-content">توليد الرموز</a>
</div>

<button (click)="getRandomNumber(10)"> Generate Number </button>