<app-nav></app-nav>

<p class="top-text"> حدد القسم والمرحلة و عدد الرموز المراد توليدها لدخول الطلبة ليتم توليدها. </p>
<div class="drop-down">



    <select  class="custom-select select-1" (change)="selectDepartment( $event )" >
        <option value="0">حدد القسم         </option>
        <option value="1"> بايولوجي        </option>
        <option value="2"> الحاسبات        </option>
        <option value="3"> الرياضيات       </option>
        <option value="4"> الفيزياء        </option>
        <option value="5"> جيولوجيا النفط والمعادن        </option>
        <option value="6"> تقانة احيائية   </option>
    </select>

    <select  class="custom-select select-1" (change)="selectstage( $event )" >
        <option value="0">  حدد المرحلة     </option>
        <option value="1">  الاولى           </option>
        <option value="2">  الثانية         </option>
        <option value="3">  الثالثة         </option>
        <option value="4">  الرابعة         </option>
    </select>

    <div class="input-group select-1">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">عدد الرموز</span>
        </div>
        <input  (change)="selectNumber( $event )" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <a  class="my-btn btn select-2" 
        role="button" style="width: fit-content"
        (click)="getRandomNumber(numberOfKeys)">
        توليد الرموز
    </a>
</div>

<!-- condition of show data form data base or show icone if have no data -->
<ng-container *ngIf="keys.length == 0 ; then noData else haveData" > </ng-container>

<!-- items  -->

<ng-template #haveData>

    <div class="box-items">

        <div class="item-box" *ngFor="let key of keys">
    
            <!-- information dispaly hear -->
            <div class="name">
            
                    <h3> {{ key.password }} </h3> 
            </div>
        
            <!-- <div class="box-operation">
                <button 
                    mat-raised-button
                    matTooltip="حذف"
                    matTooltipPosition="right"
                    class="btn-delete btn">
                    <i class="i-delete far fa-trash-alt"></i> 
                </button>
            </div> -->
        
        </div>
    </div>     

</ng-template>


<ng-template #noData>
    <div class="nodata">
        <i class="fab fa-jsfiddle fa-10x"></i>
    </div>
</ng-template>
    